:root {
    --color-header: #782221;
    --color-text-header: #fff;
    --color-address: #2c1d27;
    --color-bck-title: #dbc2a4;
    --color-aside-title: #000000;
    --color-linkedin: #0077b5;
    --color-shadow: #000000;
}